@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
body{
    background: rgb(185, 182, 182);
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.del-btn{
    background: rgb(155, 91, 91);
    margin: 20px;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    padding: 13px;
}

.add-btn{
    border-radius: 50px;
    background: rgb(255, 255, 255); 
    padding: 15px;
    border: none;
    cursor: pointer;
}
.app-title{
    text-align: center;
    color: rgb(155, 91, 91);
    font-size: 70px;
}
.container{
    border: 5px solid rgb(155, 91, 91);
    border-radius: 25px;
    padding: 30;
    margin:0 10%;
}
.inner-container {
    color: rgb(49, 54, 58);
    text-align: center;
    max-width: 500;
    margin: "auto";
    padding: 3%;
}
.input-container{
    border: none;
    border-radius: 25px;
    height: 45px;
    margin: 1%;
    padding: 0 4%;
    outline: none;
}
.tasks-list{
    color: rgb(49, 54, 58);
    text-align: left;
}